In [5]:
import pandas as pd
import fuzzy

In [12]:
soundex = fuzzy.Soundex(4)
soundex('Fricken')

soundex('Flipn')

'F415'

In [16]:
df_statement = pd.read_csv("Data.nosync/statement.csv")

df_statement.head(200)

,statement_type_cd,statement_text,serial_no
0,GS0091,pistols,60146682
1,GS0091,"shotguns, pistols, rifles, machine-guns, subma...",60149828
2,A00001,"In the statement, Column 2, line 1 through 4, ...",70011210
3,DM0000,The mark consists of a picture representing Sa...,70011210
4,GS0071,"CORDS, LINES, [ TWINES, ] AND ROPES",70011210
...,...,...,...
195,GS0061,DISINFECTANTS,70023664
196,DM0000,"THE SAID TRADEMARK CONSISTS OF THE LETTERS ""H-...",70023770
197,GS0461,OATMEAL AND SIMILAR OAT FOODS WHICH ARE PREPAR...,70023770
198,PM0001,HO,70023770
199,DM0000,The said trade-mark consists of the fanciful d...,70023782

In [17]:
df_TM = df_statement[df_statement['statement_type_cd'] == 'DM0000']


df_TM.head(10)

# df_TM.to_csv("Trademarks_only.csv", index = False, header = True)

,statement_type_cd,statement_text,serial_no
3,DM0000,The mark consists of a picture representing Sa...,70011210
8,DM0000,THE MARK CONSISTS OF THE FACSIMILE SIGNATURE O...,70011711
16,DM0000,THE TRADEMARK OF SAID COMPANY CONSISTS OF THE ...,70013054
18,DM0000,"OUR TRADE-MARK CONSISTS OF THE WORD ""BUDWEISER...",70013064
20,DM0000,OUR TRADEMARK CONSISTS OF THE LETTERS AND WORD...,70013253
23,DM0000,SAID TRADE-MARK CONSISTS OF THE ARBITRARY WORD...,70013299
25,DM0000,OUR TRADE-MARK CONSISTS OF THE PICTURE OF A HA...,70013498
29,DM0000,"MY TRADE-MARK CONSISTS OF THE ARBITRARY WORD ""...",70014364
33,DM0000,"OUR TRADE-MARK CONSISTS OF THE ARBITARY WORD ""...",70015086
41,DM0000,THE TRADE-MARK OF THE SAID THOMAS JOHN PALMER ...,70016114

In [16]:
df_statement_clean = df_statement[['statement_text', 'serial_no']]

df_statement_clean.head(10)

                                      statement_text  serial_no
0                                            pistols   60146682
1  shotguns, pistols, rifles, machine-guns, subma...   60149828
2  In the statement, Column 2, line 1 through 4, ...   70011210
3  The mark consists of a picture representing Sa...   70011210
4                CORDS, LINES, [ TWINES, ] AND ROPES   70011210
5                                       MIXED PAINTS   70011408
6                                     CONDENSED MILK   70011709
7                              MILK FOOD FOR INFANTS   70011710
8  THE MARK CONSISTS OF THE FACSIMILE SIGNATURE O...   70011711
9                             MILK-FOODS FOR INFANTS   70011711

In [19]:
TM_clean = pd.read_csv("Data.nosync/TM_clean.csv")

TM_clean

                                                  wordmark  serial_no
0                                                    daisy   70013054
1                                                budweiser   70013064
2                                     washburns gold medal   70013253
3                                                    giant   70013299
4                                                  welcome   70014364
...                                                    ...        ...
1071622                                                etf   89002325
1071623                                            europol   89002328
1071624                                 parati vero parati   89002332
1071625  organisation africaine de la propriete intelle...   89002333
1071626               the great seal of the choctaw nation   89002386

[1071627 rows x 2 columns]

In [22]:
TM_clean['test'] = TM_clean.apply(lambda row: soundex(TM_clean['wordmark']), axis = 1)

TypeError: <lambda>() got an unexpected keyword argument 'axis'