In [1]:
import pandas as pd
import fuzzy
from tqdm.notebook import trange, tqdm
from time import sleep

In [ ]:
df_statement = pd.read_csv("Data.nosync/statement.csv")

df_statement.head(200)

In [ ]:
df_TM = df_statement[df_statement['statement_type_cd'] == 'DM0000']


df_TM.head(10)

# df_TM.to_csv("Trademarks_only.csv", index = False, header = True)

In [ ]:
df_statement_clean = df_statement[['statement_text', 'serial_no']]

df_statement_clean.head(10)

In [2]:
df = pd.read_csv("Data.nosync/TM_clean.csv")

df

                                                  wordmark  serial_no
0                                                    daisy   70013054
1                                                budweiser   70013064
2                                     washburns gold medal   70013253
3                                                    giant   70013299
4                                                  welcome   70014364
...                                                    ...        ...
1071622                                                etf   89002325
1071623                                            europol   89002328
1071624                                 parati vero parati   89002332
1071625  organisation africaine de la propriete intelle...   89002333
1071626               the great seal of the choctaw nation   89002386

[1071627 rows x 2 columns]

In [8]:
def sdx(x):
    soundex = fuzzy.Soundex(4)
    return soundex(x)

In [9]:
df['wordmark2'] = df['wordmark'].astype(str)

df

,wordmark,serial_no,wordmark2
0,daisy,70013054,daisy
1,budweiser,70013064,budweiser
2,washburns gold medal,70013253,washburns gold medal
3,giant,70013299,giant
4,welcome,70014364,welcome
...,...,...,...
1071622,etf,89002325,etf
1071623,europol,89002328,europol
1071624,parati vero parati,89002332,parati vero parati
1071625,organisation africaine de la propriete intelle...,89002333,organisation africaine de la propriete intelle...
1071626,the great seal of the choctaw nation,89002386,the great seal of the choctaw nation

In [10]:
df['soundex_wordmark']= df['wordmark2'].apply(lambda x : sdx(x))

UnicodeDecodeError: 'ascii' codec can't decode byte 0xba in position 1: ordinal not in range(128)

In [ ]:
df

#df.to_csv("TM_clean_soundex.csv", index = False, header = True)