# Modeling

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.linear_model import LogisticRegression
from sklearn import datasets

In [2]:
cases = pd.read_csv('Data.nosync/Similar_TM.csv')
cases

                TM_A                 TM_B  Decision
0            Simoniz            Permanize         1
1           Magnavoc             Multivox         1
2              Zirco               Cozirc         1
3      Platinum Puff        Platinum Plus         1
4    Maternity Yours  Your Maternity Shop         1
..               ...                  ...       ...
352           Lilton               Wilton         0
353         Nutricia             Nutritea         0
354        Glenreidh            An Reidhe         0
355  No Gunk No Junk    No Gunk Just Funk         0
356         e-Relief         LIGHT RELIEF         0

[357 rows x 3 columns]

In [3]:
import unidecode
from fuzzywuzzy import fuzz

from abydos.distance import (IterativeSubString, BISIM, DiscountedLevenshtein, Prefix, LCSstr, MLIPNS, Strcmp95,
MRA, Editex, SAPS, FlexMetric, JaroWinkler, HigueraMico, Sift4, Eudex, ALINE, PhoneticEditDistance)

from abydos.phonetic import PSHPSoundexFirst, Ainsworth
pshp_soundex_first = PSHPSoundexFirst()
pe = Ainsworth()

In [4]:
iss = IterativeSubString()
bisim = BISIM()
dlev = DiscountedLevenshtein()
prefix = Prefix()
lcs = LCSstr()
mlipns = MLIPNS()
strcmp95 = Strcmp95()
mra = MRA()
editex = Editex()
saps = SAPS()
flexmetric = FlexMetric()
jaro = JaroWinkler(mode='Jaro')
higuera_mico = HigueraMico()
sift4 = Sift4()
eudex = Eudex()
aline = ALINE()
phonetic_edit = PhoneticEditDistance()

In [5]:
algos = [iss, bisim, dlev, prefix, lcs, mlipns, strcmp95, mra, editex, saps, flexmetric, jaro, higuera_mico, sift4, eudex,
         aline, phonetic_edit]

algo_names = ['iterativesubstring', 'bisim', 'discountedlevenshtein', 'prefix', 'lcsstr', 'mlipns', 'strcmp95', 'mra',
              'editex', 'saps', 'flexmetric', 'jaro', 'higueramico', 'sift4', 'eudex', 'aline',
              'phoneticeditdistance']

In [14]:
from abydos.phones import *

In [15]:
def sum_ipa(name_a, name_b):
    feat1 = ipa_to_features(pe.encode(name_a))
    feat2 = ipa_to_features(pe.encode(name_b))
    score = sum(cmp_features(f1, f2) for f1, f2 in zip(feat1, feat2))/len(feat1)
    return score

In [16]:
import re

In [26]:
from tqdm import tqdm

def featurize(df):
    if len(df.columns)==3:
        df.columns=['a', 'b', 'Decision']
    elif len(df.columns)==2:
        df.columns=['a', 'b']
    else:
        df = df.rename(columns={df.columns[0]: 'a', df.columns[1]: 'b' })
        
    df['TM_A'] = df.apply(lambda row: re.sub(
        '[^a-zA-Z]+', '', unidecode.unidecode(row['a']).lower()), axis=1)
    df['TM_B'] = df.apply(lambda row: re.sub(
        '[^a-zA-Z]+', '', unidecode.unidecode(row['b']).lower()), axis=1)
    

    df['partial'] = df.apply(lambda row: fuzz.partial_ratio(row.TM_A,row.TM_B), axis=1)
    df['tkn_sort'] = df.apply(lambda row: fuzz.token_sort_ratio(row.TM_A,row.TM_B), axis=1)
    df['tkn_set'] = df.apply(lambda row: fuzz.token_set_ratio(row.TM_A,row.TM_B), axis=1)
    
    df['sum_ipa'] = df.apply(lambda row: sum_ipa(row.TM_A,row.TM_B), axis=1)
    
    df['pshp_soundex_first'] = df.apply(
        lambda row: 1 if pshp_soundex_first.encode(row.TM_A)==pshp_soundex_first.encode(row.TM_B) else 0, axis=1)
    
    for i, algo in enumerate(algos):
            df[algo_names[i]] = df.progress_apply(lambda row: algo.sim(row.TM_A, row.TM_B), axis=1)
            
#     df.drop(['syll_a', 'syll_b'], axis=1, inplace=True)
    return df

In [27]:

from itertools import combinations
import random
random.seed(30)

In [28]:
dftest=cases.loc[[2]]
dftest

       a       b  target   TM_A    TM_B  partial  tkn_sort  tkn_set
2  Zirco  Cozirc       1  zirco  cozirc       89        73       73

In [29]:
tqdm.pandas()

df = featurize(cases)
df

/Users/seannguyen/opt/anaconda3/lib/python3.8/site-packages/tqdm/std.py:668: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
100%|██████████| 357/357 [00:00<00:00, 21014.49it/s]
100%|██████████| 357/357 [00:00<00:00, 4801.47it/s]
100%|██████████| 357/357 [00:00<00:00, 3606.40it/s]
100%|██████████| 357/357 [00:00<00:00, 22799.64it/s]
100%|██████████| 357/357 [00:00<00:00, 12878.36it/s]
100%|██████████| 357/357 [00:00<00:00, 23508.38it/s]
100%|██████████| 357/357 [00:00<00:00, 12416.49it/s]
100%|██████████| 357/357 [00:00<00:00, 12801.18it/s]
100%|██████████| 357/357 [00:00<00:00, 2137.41it/s]
100%|██████████| 357/357 [00:00<00:00, 3416.98it/s]
100%|██████████| 357/357 [00:00<00:00, 2425.57it/s]
100%|██████████| 357/357 [00:00<00:00, 13135.72it/s]
100%|██████████| 357/357 [00:01<00:00, 258.27it/s]
100%|██████████| 357/357 [00:00<00:00, 19430.67it/s]
100%|██████████| 357/357 [00:00<00:00, 11108.31it/s]
100%|██████████| 357/357 [00:01<00:00, 202.77it/s]
100%|██████████| 357/357 [00:00<00:00, 1125.50it/s]

,a,b,target,TM_A,TM_B,partial,tkn_sort,tkn_set,sum_ipa,pshp_soundex_first,...,mra,editex,saps,flexmetric,jaro,higueramico,sift4,eudex,aline,phoneticeditdistance
0,Simoniz,Permanize,1,simoniz,permanize,57,50,50,0.658986,0,...,0.666667,0.555556,0.137931,0.566667,0.671958,0.430556,0.444444,0.654902,0.602128,0.727599
1,Magnavoc,Multivox,1,magnavoc,multivox,38,38,38,0.691532,0,...,0.500000,0.500000,0.304348,0.400000,0.583333,0.375000,0.375000,0.916667,0.545455,0.897177
2,Zirco,Cozirc,1,zirco,cozirc,89,73,73,0.806452,0,...,0.833333,0.500000,0.428571,0.600000,0.822222,0.547619,0.666667,0.786275,0.705882,0.634409
3,Platinum Puff,Platinum Plus,1,platinumpuff,platinumplus,83,83,83,0.895161,1,...,0.500000,0.833333,0.666667,0.833333,0.888889,0.769231,0.833333,1.000000,0.873529,0.913978
4,Maternity Yours,Your Maternity Shop,1,maternityyours,yourmaternityshop,74,65,65,0.743176,0,...,0.000000,0.588235,0.319149,0.538235,0.687675,0.490372,0.588235,0.463725,0.589655,0.646110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,Lilton,Wilton,0,lilton,wilton,83,83,83,0.943548,0,...,0.833333,0.833333,0.500000,0.833333,0.822222,0.833333,0.833333,0.866667,0.823529,0.943548
353,Nutricia,Nutritea,0,nutricia,nutritea,75,75,75,0.874552,1,...,0.833333,0.812500,0.565217,0.787500,0.833333,0.750000,0.750000,0.997549,0.937500,0.973790
354,Glenreidh,An Reidhe,0,glenreidh,anreidhe,80,71,71,0.498208,0,...,0.666667,0.666667,0.310345,0.666667,0.741402,0.588889,0.666667,0.784804,0.705882,0.655914
355,No Gunk No Junk,No Gunk Just Funk,0,nogunknojunk,nogunkjustfunk,67,77,77,0.822581,1,...,0.833333,0.678571,0.469388,0.700000,0.815873,0.637363,0.714286,0.995588,0.713415,0.808756
356,e-Relief,LIGHT RELIEF,0,erelief,lightrelief,86,67,67,0.629032,0,...,0.500000,0.636364,0.166667,0.663636,0.689755,0.482071,0.363636,0.775490,0.491803,0.633431

In [33]:
y = df.target
X = df.drop('target',1)

In [34]:
from sklearn.model_selection import train_test_split

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [39]:
from tpot import TPOTClassifier

In [ ]:
pipeline_optimizer = TPOTClassifier(
        scoring = 'f1', 
        generations=100,
        verbosity=2,
        n_jobs=-1   # Utilizes all available CPU cores
        ) 
pipeline_optimizer.fit(X_train.drop(['a', 'b', 'TM_A', 'TM_B'],1), y_train)

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=10100.0, style=ProgressStyle(…

Generation 1 - Current best internal CV score: 0.8910336950314107
Generation 2 - Current best internal CV score: 0.8910336950314107
Generation 3 - Current best internal CV score: 0.8927850751951265
Generation 4 - Current best internal CV score: 0.8927850751951265
Generation 5 - Current best internal CV score: 0.8927850751951265
Generation 6 - Current best internal CV score: 0.8927850751951265
Generation 7 - Current best internal CV score: 0.8927850751951265
Generation 8 - Current best internal CV score: 0.8927850751951265
Generation 9 - Current best internal CV score: 0.8927850751951265
Generation 10 - Current best internal CV score: 0.8927850751951265
Generation 11 - Current best internal CV score: 0.8927850751951265